html,
body {
  height: 100%;
}
.dark-theme body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #151d1c, #5f2c82);
  background: linear-gradient(45deg, #303232, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

.light body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #f3f5f5, #5f2c82);
  background: linear-gradient(45deg, #f0f1f1, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  color: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
.dark-theme td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.light td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #221f1f;
}

.dark-theme .theme-moon{
  position: absolute;
  visibility: hidden;
  left: 20px;
}

.light .theme-sun{
  position: absolute;
  visibility: hidden;
  left: 20px;
}

th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.pagination{
  position: absolute;
  top: 95%;
  left: 42%;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 190px);
  -webkit-transform: translate(-42%, -42%);
  transform: translate(-42%, -42%);
  
  
}

.btn_excel{
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color: #5f2c82;
  position: fixed;
  top: 93%;
  left:70%;
  max-height: 600px;
}

.pagination button{
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color: #5f2c82;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.theme-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  top: 100px;
  background: #6a59d1;
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.theme-btn .fa-sun, .theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

.light ::-webkit-scrollbar {
  width: 10px;
  background: white;
}

.dark-theme ::-webkit-scrollbar {
  width: 10px;
  background: -webkit-linear-gradient(45deg, #f3f5f5, #5f2c82);
  background: linear-gradient(45deg,  #5f2c82);
}

.dark-theme ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2em;
}

.light ::-webkit-scrollbar-thumb {
  background: #5f2c82;
  border-radius: 2em;
}
